body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 50px;
    color: #E8EDE7;
    cursor: default;
}

h3{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 25px;
    color: #E8EDE7;
    cursor: default;
}

p{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 15px;
    color: #E8EDE7;
    cursor: default;
}

span{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 15px;
    color: #E8EDE7;
    cursor: default;
}

input:not(.secure){
    all: unset;
    font-family: 'Fredoka One', cursive;
    color: #E8EDE7;    
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #81BECE;
}

input::placeholder{
    font-family: 'Fredoka One', cursive;
    color: #eeeeee;
}

button{
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    color: #E8EDE7;
    cursor: pointer;
    background-color: #036280;
}

button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5);
}

/*  */
/*  */
/*  */
/* Главная страница */
/*  */
/*  */
/*  */

.conteiner{
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 20px;
    background-color: #81BECE;
    overflow: hidden;
}

.conteiner-header{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.conteiner-pannel{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    gap: 30px;
    background-color: #378BA4;
    border-radius: 10px;
    padding: 10px;
}

.conteiner-pannel h3{
    cursor: pointer;
}

.conteiner-pannel h3:hover{
    color: bisque;
}

.conteiner-main{
    display: flex;
    justify-content: center;
    background-color: #378BA4;
    border-radius: 10px;
    width: 100%;
    height: 650px;
    gap: 30px;
    margin-bottom: 50px;
}

.conteiner .transfer{
    margin: 40px;
    padding: 40px;
    width: 300px;
    display: grid;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    background-color: #012E4A;
}

.conteiner .transfer select, option{
    font-family: 'Fredoka One', cursive;
    color: #E8EDE7;
    background-color: #81BECE;
}

.conteiner .transfer select{
    border-radius: 10px;
}

.conteiner .add-trans{
    height: 50px;
}

.conteiner-profile{
    margin: 40px;
    padding: 40px;
    width: 500px;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    background-color: #012E4A;
}

.conteiner-profile h3{
    font-size: 20px;
}

.conteiner-profile main{
    display: grid;
    gap: 20px;
}

.conteiner-profile .exit{
    display: flex;
    justify-content: center;
}

.conteiner .history{
    margin: 40px;
    padding: 40px;
    width: 500px;
    height: 490px;
    display: grid;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    background-color: #012E4A;
    overflow-y: auto;
    overflow-x: hidden;
}

.conteiner .history .info-trans{
    display: grid;
    background-color: #378BA4;
    border-radius: 10px;
    padding: 20px;
}

/*  */
/*  */
/*  */
/* Модалки */
/*  */
/*  */
/*  */

.modals{
    display: grid;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modals input{
    width: 400px;
    height: 60px;
    font-size: 30px;
}

.modals button{
    width: max-content;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.modal-a{
    display: grid;
    width: max-content;
    height: max-content;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    background-color: #378BA4;
    border: none;
    border-radius: 10px;
}

.modal-r{
    display: none;
    justify-content: center;
    width: max-content;
    height: max-content;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    background-color: #378BA4;
    border: none;
    border-radius: 10px;
}

.modal-conteiner{
    display: grid;
    width: max-content;
    gap: 30px;
    justify-content: center;
}

.modal-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}